<div class="root_container">
 
<div class="container-fluid main-container">
    <div class="flex flex-nowrap align-items-sm-start hgt-100">
        <div  class="left-container hgt-100 me-3">
          <router-outlet></router-outlet>
        </div>  
        <div class="right-container hgt-100">
                <router-outlet></router-outlet>
        </div>
    </div>
</div>



</div>


<!-- <router-outlet></router-outlet> -->
