
<div class="container">
    <h1>
      Check Reservation<br><br>
    </h1>
   
    <form class="form_content row g-3 needs-validation" (ngSubmit)="onSubmit()" [formGroup]="reactiveForm">
        <div class="col-md-8">
          <label class="form-label">Enter user id(s):</label><br>
          <label class="form-label"><i>(You can add multiple user id(s) seperated by a comma)</i></label>
          <input class="form-control" formControlName="userIdVal" name="userIdVal"  [(ngModel)]="userId" placeholder="User id(s)" type="text"  [ngClass]="{ 'is-invalid': submitted && f['userIdVal'].errors }">
          <div *ngIf="submitted && f['userIdVal'].errors" class="invalid-feedback">
            <div *ngIf="f['userIdVal'].errors['required']">
             <span style="color: red;" >* User Id is required!</span>
            </div>
            <div *ngIf="f['userIdVal'].errors || f['userId'].errors?.['pattern']">
                <span style="color: red;" >* User id should be a number!</span>
            </div>
         </div>
        </div>
        <div class="col-md-8">
            <mat-form-field>
                <input class="form-control" formControlName="dateVal" name="dateVal" matInput [ngxMatDatetimePicker]="picker" placeholder="Choose date and time" [(ngModel)]="myDatePicker" [ngClass]="{ 'is-invalid': submitted && f['dateVal'].errors }">
                
                <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
            
                <ngx-mat-datetime-picker #picker [enableMeridian]="true"></ngx-mat-datetime-picker>
                <div *ngIf="submitted && f['dateVal'].errors" class="invalid-feedback">
                    <div *ngIf="f['dateVal'].errors['required']">
                     <span style="color: red;" >* Date and time is required!</span>
                    </div>
                 </div>
            </mat-form-field>
           
        </div>
       
        
        <div class="col-md-8">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>

</div>

